各位同学好，大家的计算概论大作业由我来进行验收，这个群用于跟进验收进度和发布通知。以下内容请大家注意：

1. 本次作业满分为10分，其中验收分数占8.5，Botzone比赛占1.5。

2. 以下是验收部分的评分标准（可能与别的助教不一样）：
    
2.1 基本功能6分：
    - （10分）菜单（选择，新开始，存盘，读盘，结束）
    - （10分）棋盘和棋子（可以用字符实现，也可以使用图形化棋盘）
    - （25分）对弈 （能够实现一次下棋从开始到结束全流程，并且可以中途停止游戏）
    - （15分）存储棋盘和读盘并且能继续下的功能（有这个功能即可，触发时机和触发方式都可以自定义）
    最终得分为上述4个部分总分/10。
    
2.2 AI能力1分：
    - 大家在报告里说明对弈AI的实现算法，助教将通过阅读报告在验收时进行提问，最后综合打分。
    - 注意：助教并不关心各位AI的实际能力（这将由botzone比赛来检验，我更关心的是，大家做了哪些努力，有什么实现想法）
    - 这部分得分区间为 [0.5,1]，保留小数点后1位。
    
2.3 特色分1.5分：
    - 我将关注各位项目的：
        （1）用户友好性：是否易于人类使用。
        （2）交互界面美观性。
        （3）功能完成度：基本功能是否结合良好（比如，存盘/读盘功能的完善程度）
        （4）其他特色：
            - 比如可以满足用户的一些别的需求。
            - 如有，在报告中说明。
       备注：不要求大家一定更要实现图形化界面，但如果有会有一定加分。
    - 这部分得分区间为 [0.8,1.5]，保留小数点后1位。
    
2.4 如若基本功能分没有达到3.5分，则后两个部分得分为0。

3. 每个同学都有3次验收机会，注意在对应时间段里进行验收：
      3.1 第一次验收时间：今日起到（12.30 晚 23：59）
          本次验收会进行预打分。提前完成的同学可以参加。
          助教将阅读大家的报告和代码。运行问题和修改建议会在48h内反馈给大家。

    3.2 第二次验收时间：今日起到（1.9 晚 23：59）
          本次验收会进行系统打分，分数可以作为大家的最终分数。
          请在验收前1天给助教发报告和代码，并确定验收时间。
          如不满意此次分数，可以根据助教的反馈进行下一次验收。

    3.3 第三次验收时间：今日起到（1.10 晚 23：59）
          现场提交最终报告和代码，直接进入提问和打分环节。
          助教将会给出大家的最终分数。
          之前已经验收过的同学可以选择使用之前验收的分数作为最终分数。

4. 关于报告：
    为了方便助教更好理解大家的项目，验收的时候请提交报告，可以不是最终版本，但必须包含以下内容：
    - 如何运行你的程序？（要求，助教能够通过阅读报告自行启动程序进行测试）
    - 你如何实现你的AI。
    - 你认为你的项目里具有特色的地方。

5. 关于验收：
    第一次验收没有提问环节，仅通过微信和大家进行交流。
    第二、三次验收：采用腾讯会议线上进行，验收时间不超过15分钟。
    验收过程：1. 演示程序使用过程，完成一局游戏/存盘/读盘；2. 自由提问（主要会根据运行情况做一些提问，并考察大家对自己实现的AI算法的了解程度）
    

6. 另外请大家注意 Botzone 测试赛/正式比赛的派遣DDL：
    第一次测试赛: 2025年12月20日(周六)晚上11:59
    第二次测试赛: 2026年12月27日(周六)晚上11:59
    第三次测试赛: 2026年1月3日(周六)晚上11:59
    正式比赛:        2026年1月10日(周六)晚上11:59

7. 验收名单（不在群里的同学大家可以帮忙拉一下）